{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <section class="mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center form-bg-image">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mb-4 mt-md-0">
              <h1 class="mb-0 h3">Invite Codes Generated</h1>
            </div>
            <ul>
              {% for code in codes %}
                <li>{{ code }}</li>
              {% endfor %}
            </ul>
            <a href="{% url 'generate_invite_codes' %}" class="btn btn-primary">Generate More Codes</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
